@charset "UTF-8";

.image_center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container
{
  box-shadow: 12px 0 15px 4px rgba(31, 73, 125), -12px 0 8px -4px rgba(31, 73, 125);
  width:350px;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin:auto;
  margin-top:170px;
  padding: 40px;
  border-radius:10px;
} 

.newuser
{
  border: none;
  color: blue;
  padding: 10px;
  text-align: center;
  background-color:white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top:70px;
  cursor: pointer;
  border-radius: 8px;
}
.next
{
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  background-color:blue;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left:130px;
  cursor: pointer;
  border-radius: 8px;
}
.newuser:hover
{
  background-color:#9B9B9B;
}

